{% extends 'base.html.twig' %}

{% block title %}Yeti index{% endblock %}

{% block body %}
    <h1>Yeti index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Location</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for yeti in yetis %}
            <tr>
                <td>{{ yeti.id }}</td>
                <td>{{ yeti.Name }}</td>
                <td>{{ yeti.gender }}</td>
                <td>{{ yeti.height }}</td>
                <td>{{ yeti.weight }}</td>
                <td>{{ yeti.location }}</td>
                <td>
                    <a href="{{ path('app_yeti_show', {'id': yeti.id}) }}">show</a>
                    <a href="{{ path('app_yeti_edit', {'id': yeti.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_yeti_new') }}">Create new</a>
{% endblock %}
