{% extends 'base.html.twig' %}

{% block title %}New Yeti{% endblock %}

{% block body %}
    <h1>{{ 'Create new Yeti'|trans }}</h1>
    {{ include('yeti/_form.html.twig') }}
    <a href="{{ path('app_yeti_index') }}">{{ 'back_to_list'|trans }}</a>
{% endblock %}

{% block stylesheets %}
    <style>

        .centered-form {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="centered-form">
        {{ include('yeti/_form.html.twig') }}
    </div>
{% endblock %}