{# templates/yeti/statistics.html.twig #}
<h1>Yeti Rating Stats</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Date</th>
        <th>Count</th>
        <th>Average Rating</th>
    </tr>
    </thead>
    <tbody>
    {% for stat in statistics %}
        <tr>
            {#        <td>{{ stat.date|date('Y-m-d') }}</td>#}
            {#        <td>{{ stat.count }}</td>#}
            <td>{{ stat.year }}</td>
            <td>{{ stat.month }}</td>
            <td>{{ stat.average }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>